<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Table with contextual classes</h4>

                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>

                            <th>Name</th>
                            <th>Description</th>
                              <th>Profile</th>
                              <th>Edit</th>
                              <th>Delete</th>
                          </tr>
                        </thead>
                          {% for i in data %}
                         <tbody>
                          <tr class="table-info">
                          <td>{{i.Name}}</td>
                           <td>{{i.Description}}</td>

                               <td>
                                        <img src="{{i.Profile.url}}" width="80" height="80">
                                    </td>
                              <td>
                                  <a href="{% url 'food_edit' f_id=i.id %}">
                                      <button type="button" class="btn btn-success">Edit </button>
                                  </a>
                              </td>
                              <td>
                                  <a href="{% url 'food_delete' f_id=i.id  %}">
                                     <button type="button" class="btn btn-success">Delete </button>
                                  </a>
                              </td>


                          </tr>
                        </tbody>
                          {%endfor%}
                      </table>
                    </div>
                  </div>
                </div>
              </div>

</body>
</html>
{% endblock %}